.gradle/
.idea/
.kotlin/
*.iml
build/
**/build/
local.properties
app/release
.externalNativeBuild/
.cxx/
captures/
*.keystore
*.apk
*.ap_
*.aab
app/google-services.json
**/google-services.json
secrets.properties
.DS_Store
.vscode